@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%
}

body {
  font-size: 1vw;
  height: 100%;
}

main {
  height: 97%;
}

#main-background {
  display: flex;
  height: 100%;
  background-color: hsl(233, 47%, 7%);
  flex-direction: column;
}

#card-body {
  display: flex;
  margin: auto;
  height: 58%;
  width: 80%;
  background-color: hsl(244, 38%, 16%);
  border-radius: 8px;
  flex-flow: row nowrap;
  align-items: stretch;
}

#image-container {
    width: 50%;
    height: 100%;
    position: relative;
    background: url(images/image-header-desktop.jpg) no-repeat;
    background-size: cover;

}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(277, 64%, 61%);
  mix-blend-mode: multiply;
}

#card-text {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#main-text {
  height: 60%;
  width: 63%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  gap: 8%;
}

#main-text > h1 {
  color: hsl(0, 0%, 100%);
  font-family: 'Inter', sans-serif;
}

#main-text > p {
  line-height: 1.8em;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: 'Lexend Deca', sans-serif;
}

#stats {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Lexend Deca', sans-serif;
}

.stat > h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: .4em;
}

.stat > p {
    color: hsla(0, 0%, 100%, 0.6)
}

footer {
  background-color: hsl(233, 47%, 7%);
  height: 3%;
}

.attribution {
  color: white;
  font-size: 1em;
  text-align: center; 
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 475px) {
  /* For other devices: */
  #card-body {
    height: 90%;
    width: 80%;
    flex-flow: column-reverse nowrap;
    justify-content: space-between;
  }
  
  #image-container {
      width: 100%;
      height: 30%;
      border-radius: 8px 8px 0 0;
      background: url(images/image-header-mobile.jpg) no-repeat;
      background-size: cover;
  
  }
  
  #overlay {
    border-radius: 8px 8px 0 0;
  }
  
  #card-text {
    width: 100%;
    height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  #main-text {
    font-size: 3.3em;
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 6%;
    text-indent: 5px;
    text-align: center;
  }

  #main-text > p {
    font-size: 1.1em;
  }
  #stats {
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 4.5em;
  }

  .stat {
    text-align: center;
  }
  
  footer {
    font-size: 3.8em;
  }
}